# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# -------------------------
# Virtual environment (Poetry)
# -------------------------
.venv/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Mypy / Pylint / Ruff
# -------------------------
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/